# Dominio publico apuntando al servidor para Caddy y HTTPS automatico.
APP_DOMAIN=jgdeveloper.me

# Zona horaria de la aplicacion dentro del contenedor.
APP_TIMEZONE=America/Santo_Domingo

# Imagen publicada en Docker Hub para despliegue remoto.
APP_IMAGE=tu-usuario-dockerhub/parcial2:latest