JDBC_DATABASE_URL=

#Esto es la clave para encriptar la cookie "Recordar usuario", pero es opcional, 
#si no se define, se usa una clave por defecto para desarrollo, la clave por defecto es: blog-remember-me-key-dev
JASYPT_PASSWORD=